.weatherCard {
  width: 80%;
  padding: 20px 30px;
  margin: 10px;

  p {
    line-height: 1.8em;
  }

  .cardContent {
    padding-top: 10px;
  }

  @media all and (min-width: 868px) {
    width: 320px;
  }
}