.main {

  .mainContainer {
    display: flex;
    justify-content: center;

    .mainCard {
      width: 320px;
      margin: 10px;  
      transition: all .2s linear;

      img {
        height: 200px;
        width: 100%;
        object-fit: cover;
        filter: grayscale(10%);
      }
  
      .cardContent {
        padding: 12px 20px 20px 20px;
        text-align: center;   
        
        p {
          line-height: 1.4em;
          padding-top: 6px;
        }
      }

      &:hover {
        box-shadow: -1px 5px 12px 0px rgba(0, 0, 0, .25);
      }
    }
  }
}