.main {
  .mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .mainCard {
      width: 80%;
      margin: 10px;  
      transition: all .2s linear;

      img {
        height: 300px;
        width: 100%;
        object-fit: cover;
        filter: grayscale(10%);
        
        @media all and (min-width: 868px) {
          height: 210px;
        }
      }
  
      .cardContent {
        padding: 12px 20px 20px 20px;
        text-align: center;   
        
        p {
          line-height: 1.4em;
          padding-top: 6px;
        }
      }

      &:hover {
        box-shadow: -1px 5px 12px 0px rgba(0, 0, 0, .25);
      }
      @media all and (min-width: 868px) {
        width: 320px;
      }
    }
    
    @media all and (min-width: 868px) {
      flex-direction: row;
      align-items: flex-start;
    }
  }
}