.playerList {
  width: 100%;
  text-align: center;
  
  .playersContainer {
    display: flex;

    .playerListCard {
      width: 25%;
      padding: 20px 10px;
      margin: 10px;
    }

    .remainingTitle { 
      display: flex;
      justify-content: center;
      padding: 10px 0;
      font-weight: 400;
      font-size: 18px;
      line-height: 1.3em;
    }
  }
}